<%- include('partials/header.ejs') %>
<body>
  <%- include('partials/navigation.ejs') %>
  <main class="container"><%- include('partials/allDylanSongs.ejs') %></main>
</body>
<%- include('partials/footer.ejs') %>
