<%- include('partials/header.ejs') %>
<body>
  <%- include('partials/navigation.ejs') %>
  <main class="container mt-5"><%- include('partials/sentence.ejs') %></main>
</body>
<%- include('partials/footer.ejs') %>
