<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top m-3">
  <a class="navbar-brand" href="/">loremDylan</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/allDylanSongs">All songs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sentence">Sentence</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://github.com/primerproyecto/loremDylan"
          target="_blank"
          >Github</a
        >
      </li>
    </ul>
  </div>
</nav>
